body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  color: #fff;
}

nav ul li a, nav ul li button {
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

section {
  padding: 20px;
}

.gallery {
  display: flex;
  justify-content: space-around;
}

.gallery img {
  width: 30%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Тъмен режим */
body.dark-mode {
  background-color: #121212;
  color: #fff;
}

body.dark-mode nav {
  background-color: #000;
}

body.dark-mode footer {
  background-color: #000;
}